<div style="padding:5px;">
    <input type="text" #trackSearchFilter (keyup)="0" type="text" size="50" />
</div>

<h2>Tracks</h2>
<div class="list-group-item" *ngFor="let track of tracks | trackFilter:trackSearchFilter.value | paginate: { itemsPerPage: 100, currentPage: p }" [class.selected]="track === selectedTrack" (click)="onSelect(track)">
      <div>
        <h4 class="list-group-item-heading">{{track.title}}</h4>
          <p class="list-group-item-text">Album {{track.album}}</p>
          <p class="list-group-item-text">Artist {{track.artist}}</p>
      </div>
      <a href (click)="gotoTrackEdit($event, track)">Edit Metadata</a>
      <br>
      <a href (click)="addToQueue($event, track)">Add to queue</a>
</div>

<pagination-controls (pageChange)="p = $event"></pagination-controls>

<!--
<div *ngIf="selectedTrack">
  <h2>
    {{selectedTrack.name | uppercase}} is my hero
  </h2>
  <button (click)="gotoTrackEdit(track)">View Details</button>
</div>
-->