<div id="wrapper" [ngClass]="{toggled: isSidebarOff}">

  <allplay-speakers></allplay-speakers>

  <div id="page-content-wrapper">

    <button (click)="showSpeakers(!isSidebarOff)">Speakers</button>

    <div class="container-fluid">
      <div class="app-body">
        <div class="app-content" >

          <fieldset>

            <div class="col-xs-12 col-sm-12 col-md-8" col-lg-8="col-xl-8" style="padding:5px;">  

              <div style="padding:5px;">
                <button ng-click="toggle_queue()">Queue</button> 
                <button ng-click="stop()">Stop</button>
                <button ng-click="pause()">Pause</button>
                <button ng-click="play()">Play</button>
              </div>

              <div>
                <nav>
                  <!-- <a [routerLink]="['/tracks']">Tracks</a> -->
                  <!-- <a [routerLink]="['/heroes']">Heroes</a> -->
                </nav>
              </div>

            </div>           

          </fieldset>

          <br>

          <div>
            <router-outlet></router-outlet>
          </div>

        </div>
      </div>
    </div> 
  </div>

</div> 
